@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Passions+Conflict&display=swap');

p{
    background-color : pink;
    font-family: 'Exo', sans-serif;
    font-family: 'Passions Conflict', cursive;
}
/* un exemple de classe */
.salto {
    color :lightgreen; 
    /* -webkit-animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-horizontal-top 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
}